body{
    text-align: center;
    
}
div{
    background-image: linear-gradient(orange,yellow);
    border:10px solid black;
    width: 95%;
    margin: 100px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

 
